// @import './assets/css/icons.css';
// @import "./assets/scss/variables"; //
// @import "./assets/scss/switcher";

// @import "./assets/css/styles.css";
@import 'react-perfect-scrollbar/dist/css/styles.css'; //perfectscrollbar

//simonwep colorpicker
@import "@simonwep/pickr/dist/themes/classic.min.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";


